.App {
  text-align: center;
  height: 170px;
  width: 100%;
}

.thead > *{
  text-align: center;
}

.invalidMessage{
  text-align: center;
  padding-top: 10pt;
  font-size: larger;
  font-weight: bold;
}

.pageTitle{
  text-align: left;
  padding-left: 15pt;
  font-size: larger;
  font-weight: bold;
}

.title{
  text-align: left;
  padding-left: 25pt;
  padding-bottom: 10pt;
  font-weight: bold;
  font-size: larger;
}

.App-buttons{
  padding-top: 100px;
}

.btn:first-child{
  margin-right: 20px;
}
.btn a{
  text-decoration: none;
}
